{% assign imagePath = Model.ContentItem.Content.Page.Image.Paths.first %}
{% if imagePath != null %}
{% capture sub_string %}{{'mp4'}}{% endcapture %}
{% capture some_string %}{{imagePath}}{% endcapture %}

{% assign sub_string_size = sub_string | size %}
{% assign some_string_size = some_string | size %}
{% assign start_index = some_string_size | minus: sub_string_size %}
{% assign result = some_string | slice: start_index, sub_string_size %}
{% endif %}

{% zone "Header" %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% if result == 'mp4' %}
        <header class="masthead" style="overflow: hidden">
            <video autoplay muted loop id="myVideo" style="position: absolute; top: 50px; width: 100%;">
                <source src="{{imagePath | asset_url }}" type="video/mp4">
            </video>
    {% else %}
    {% if imagePath == nil %}
        <header class="masthead">
    {% else %}
        <header class="masthead" style="background-image: url('{{ imagePath | asset_url }}')">
    {% endif %}
    {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ Model.ContentItem.DisplayText }}</h1>
                        <h2 class="subheading">{{ Model.ContentItem.Content.Page.Subtitle.Text }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endzone %}

{{ Model.Content.ContentsMetadata | shape_render }}
{{ Model.Content.FlowPart | shape_render }}