{% assign menuitem = Model.ContentItem.Content.ContentMenuItemPart.Target.ContentItemIds.first | content_item_id %}
{% if Model.HasItems %}
    <a href="{{ menuitem | display_url }}" class="{% if Model.IsDropDown %}dropdown-item{% else %}nav-link{% endif %} dropdown-toggle  d-flex align-items-baseline" id="{{Model.ContentItem.ContentItemId }}" role="button" data-toggle="dropdown">
        {{ menuitem }}<b class="caret ml-auto d-inline"></b>
    </a>
{% else %}
    <a href="{{ menuitem | display_url }}" class="{% if Model.IsDropDown %}dropdown-item{% else %}nav-link{% endif %}">{{ menuitem }}</a>
{% endif %}