{% assign link = Model.ContentItem.Content.LinkMenuItemPart %}
{% if Model.HasItems %}
    <a href="{{ link.Url | href }}" class="{% if Model.IsDropDown %}dropdown-item{% else %}nav-link{% endif %} dropdown-toggle  d-flex align-items-baseline" id="{{Model.ContentItem.ContentItemId }}" role="button" data-toggle="dropdown">
        {{ link.Name }}<b class="caret ml-auto d-inline"></b>
    </a>
{% else %}
    <a href="{{ link.Url | href }}" class="{% if Model.IsDropDown %}dropdown-item{% else %}nav-link{% endif %}">{{ link.Name }}</a>
{% endif %}